<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Fill Me Up! Empanadas, argentinean food menu for events " />
  <meta name="keywords"
    content="TRADITIONAL ARGENTINEAN MENU, FOODTRUCK, CATERINGS, EMPANADAS, ARGENINEAN FOOD, MENU, BEEF EMPANADA, HAM AND CHEESE EMPANADA" />
  <link rel="shortcut icon" href="../img/logo2.svg" type="image/x-icon" />
  <link rel="stylesheet" href="../css/main.css" />
  <script src="https://kit.fontawesome.com/717aaaebb4.js" crossorigin="anonymous"></script>
  <title>Menu | Fill Me Up! Empanadas - Check our Menu</title>
</head>

<body>
  <!-- Inicio del header -->
  <header class="header">
    <nav class="navbar container-lg">
      <div class="logo">
        <a href="../../index.html"><img src="../img/logo2.svg" alt="Fill Me Up! EMPANADAS Logo" /></a>
      </div>
      <input type="checkbox" id="check">
      <label for="check" class="bar-btn"> <i class="fa-solid fa-bars"></i></label>
      <ul class="menu">
        <li class="menu__item">
          <a href="../../index.html" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="menu.html" class="menu__link">Menu</a>
        </li>
        <li class="menu__item">
          <a href="sobreNosotros.html" class="menu__link">About us</a>
        </li>
        <li class="menu__item">
          <a href="faq.html" class="menu__link">FAQ</a>
        </li>
        <li class="menu__item offer">
          <a href="presupuesto.html" class="menu__link">Get an offer</a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- Fin del header -->
  <!-- Inicio main -->
  <main>
    <section class="main-menu container-lg">
      <div class="main-menu__tittle">
        <h1>EMPANADA MENU</h1>
        <p>
          When you are visited by our food truck in your party, you will be
          served home made empanadas for a simple and unique taste experience.
          Our menu was inspired by the classic flavors of Argentine cuisine
          and composed in a way that everyone can eat. We count with three
          vegetarian options and the possibility to serve vegan and
          gluten-free options as well.
        </p>
      </div>
      <section class="menu-list">
        <div class="menu-list__item">
          <picture class="menu-list__photo turn-left">
            <img src="../img/carne.jpg" alt="photo of a beef empanada cut in half" />
          </picture>
          <div class="menu-list__desc">
            <h4>BEEF EMPANADA</h4>
            <p>Ingredients</p>
            <p>
              Ground Angus beef, red bell peppers, hard-boiled eggs, onions and green olives.
            </p>
          </div>
        </div>
        <div class="menu-list__item column-reverse">
          <div class="menu-list__desc">
            <h4>HAM & CHEESE EMPANADA</h4>
            <p>Ingredients</p>
            <p>
              Smoked ham, Buffalo style mozzarella blend, Parmesan cheese, oregano.
            </p>
          </div>
          <picture class="menu-list__photo turn-right">
            <img src="../img/jyq.jpg" alt="photo of a ham and cheese empanada cut in half" />
          </picture>
        </div>
        <div class="menu-list__item">
          <picture class="menu-list__photo turn-left">
            <img src="../img/qyc.jpg" alt="photo of a onion and cheese empanada cut in half" />
          </picture>
          <div class="menu-list__desc">
            <h4>ONION & CHEESE EMPANADA</h4>
            <p>Ingredients</p>
            <p>
              Red and white onions, Parmesan cheese, Buffalo style mozzarella blend, oregano.
            </p>
          </div>
        </div>
        <div class="menu-list__item column-reverse">
          <div class="menu-list__desc">
            <h4>SPINACH & CHEESE EMPANADA</h4>
            <p>Ingredients</p>
            <p>
              Spinach, Parmesan cheese, Buffalo style mozzarella blend, delicate béchamel cream sauce.
            </p>
          </div>
          <picture class="menu-list__photo turn-right">
            <img src="../img/qye.jpg" alt="photo of a spinach and cheese empanada cut in half" />
          </picture>
        </div>
        <div class="menu-list__item">
          <picture class="menu-list__photo turn-left">
            <img src="../img/capr.jpg" alt="photo of a capresse empanada cut in half" />
          </picture>
          <div class="menu-list__desc">
            <h4>CAPRESSE EMPANADA</h4>
            <p>Ingredients</p>
            <p>
              Roasted tomatoes, Buffalo style mozzarella blend, fresh Italian basil.
            </p>
          </div>
        </div>
      </section>
    </section>
    <section class="presupuesto" id="quote">
      <div>
        <h3>RENT A FOOD TRUCK</h3>
        <div class="line"></div>
        <p>Fill out the form and get a quote sent within 10 minutes.</p>
      </div>
      <div class="formdiv">
        <form class="form">
          <input type="text" name="Name" placeholder="Enter your name" required />
          <input type="email" name="Email" placeholder="Your Email" required />
          <input type="number" name="Telephone" placeholder="Telephone number" />
          <input type="number" name="People" placeholder="How many people" required />
          <input type="text" name="Address" placeholder="Event address" required />
          <input type="date" id="start" name="trip-start" min="2022-01-01" max="2030-12-31" required />

          <textarea name="information" placeholder="Anything else that we should know?"></textarea>

          <input type="submit" class="btn_send" value="Send" />
        </form>
      </div>
    </section>
  </main>
  <!-- Fin main -->
  <!-- Inicio Footer -->
  <footer class="footer">
    <div>
      <h4>Follow us!</h4>
    </div>
    <div>
      <a href="https://www.facebook.com"><img src="../img/facebook-ico.ico" alt="Logo de facebook" /></a>
      <a href="https://www.instagram.com"><img src="../img/instagram-ico.ico" alt="Logo de instagram" /></a>
      <a href="https://www.whatsapp.com"><img src="../img/whatsapp-ico.ico" alt="Logo de whatsapp" /></a>
      <a href="#top" class="top"><img src="../img/tothetop2.svg" alt="Empanada logo" /></a>
    </div>
    <div class="footer__rights">
      <p>Todos los derechos reservados 2022.</p>
    </div>
  </footer>
  <!-- Fin footer -->
</body>

</html>