<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/faviconMoney.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Document</title>
</head>

<body>
    <!-- Inicio del header -->
    <header class="header">
        <nav class="navbar container">
            <div class="logo">
                <a href="../../index.html"><img src="../img/logo.svg" alt="Logo empresa" /></a>
            </div>
            <ul class="menu flex-row">
                <li class="menu__item"> <a href="../../index.html" class="menu__link">Home</a></li>
                <li class="menu__item"> <a href="menu.html" class="menu__link">Menu</a></li>
                <li class="menu__item"><a href="sobreNosotros.html" class="menu__link">About us</a></li>
                <li class="menu__item"><a href="contacto.html" class="menu__link">Contact</a></li>
                <li class="menu__item offer"> <a href="presupuesto.html" class="menu__link">Get an offer</a></li>
            </ul>
        </nav>
    </header>
    <!-- Fin del header -->
    <!-- Inicio main -->
    <main>
        <section class="main-menu container divisor">
            <div class="main-menu__titulo">
                <h1>Menu</h1>
            </div>
            <section class="menu-items texto_descriptivo">
                <div>
                    <picture>
                        <img src="../img/imagenEmpanadas.jpg" alt="Imagen de empanada sabor a ...">
                    </picture>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia, debitis incidunt vitae
                        consequatur officiis facere aperiam commodi consectetur accusamus architecto placeat ut nisi
                        nobis
                        quod illum reprehenderit est exercitationem.</p>
                </div>
                <div>
                    <picture>
                        <img src="../img/imagenEmpanadas.jpg" alt="Imagen de empanada sabor a ...">
                    </picture>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia, debitis incidunt vitae
                        consequatur officiis facere aperiam commodi consectetur accusamus architecto placeat ut nisi
                        nobis
                        quod illum reprehenderit est exercitationem.</p>
                </div>
                <div>
                    <picture>
                        <img src="../img/imagenEmpanadas.jpg" alt="Imagen de empanada sabor a ...">
                    </picture>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia, debitis incidunt vitae
                        consequatur officiis facere aperiam commodi consectetur accusamus architecto placeat ut nisi
                        nobis
                        quod illum reprehenderit est exercitationem.</p>
                </div>
                <div>
                    <picture>
                        <img src="../img/imagenEmpanadas.jpg" alt="Imagen de empanada sabor a ...">
                    </picture>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia, debitis incidunt vitae
                        consequatur officiis facere aperiam commodi consectetur accusamus architecto placeat ut nisi
                        nobis
                        quod illum reprehenderit est exercitationem.</p>
                </div>
                <div>
                    <picture>
                        <img src="../img/imagenEmpanadas.jpg" alt="Imagen de empanada sabor a ...">
                    </picture>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia, debitis incidunt vitae
                        consequatur officiis facere aperiam commodi consectetur accusamus architecto placeat ut nisi
                        nobis
                        quod illum reprehenderit est exercitationem.</p>
                </div>
                <div>
                    <picture>
                        <img src="../img/imagenEmpanadas.jpg" alt="Imagen de empanada sabor a ...">
                    </picture>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia, debitis incidunt vitae
                        consequatur officiis facere aperiam commodi consectetur accusamus architecto placeat ut nisi
                        nobis
                        quod illum reprehenderit est exercitationem.</p>
                </div>
            </section>
        </section>













        <!-- Tabla solo para el desafio
        <table>
            <tr>
                <th>Encabezado 1</th>
                <th>Encabezado 2</th>
                <th>Encabezado 3</th>
                <th>Encabezado 4</th>
            </tr>
            <tr>
                <td>Fila 1 - Columna 1</td>
                <td>Fila 1 - Columna 2</td>
                <td>Fila 1 - Columna 3</td>
                <td>Fila 1 - Columna 4</td>
            </tr>
            <tr>
                <td>Fila 2 - Columna 1</td>
                <td>Fila 2 - Columna 2</td>
                <td>Fila 2 - Columna 3</td>
                <td>Fila 2 - Columna 4</td>
            </tr>
            <tr>
                <td>Fila 3 - Columna 1</td>
                <td>Fila 3 - Columna 2</td>
                <td>Fila 3 - Columna 3</td>
                <td>Fila 3 - Columna 4</td>
            </tr>
            <tr>
                <td>Fila 4 - Columna 1</td>
                <td>Fila 4 - Columna 2</td>
                <td>Fila 4 - Columna 3</td>
                <td>Fila 4 - Columna 4</td>
            </tr>
        </table>
         -->
    </main>
    <!-- Fin main -->
    <!-- Inicio Footer -->
    <footer class="footer flex-column">
        <div>
            <p>Follow us!</p>
        </div>
        <div>
            <a href="https://www.facebook.com"><img src="../img/facebook-ico.ico" alt="Logo de facebook"></a>
            <a href="https://www.instagram.com"><img src="../img/instagram-ico.ico" alt="Logo de instagram"></a>
            <a href="https://www.whatsapp.com"><img src="../img/whatsapp-ico.ico" alt="Logo de whatsapp"></a>
        </div>
        <div class="footer__rights">
            <p> Todos los derechos reservados 2022. </p>
        </div>
    </footer>
    <!-- Fin footer -->
</body>

</html>