<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/faviconMoney.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Document</title>
</head>

<body>
    <!-- Inicio del header -->
    <header class="header">
        <nav class="navbar container">
            <div class="logo">
                <a href="../../index.html"><img src="../img/logo.svg" alt="Logo empresa" /></a>
            </div>
            <ul class="menu flex-row">
                <li class="menu__item"> <a href="../../index.html" class="menu__link">Home</a></li>
                <li class="menu__item"> <a href="menu.html" class="menu__link">Menu</a></li>
                <li class="menu__item"><a href="sobreNosotros.html" class="menu__link">About us</a></li>
                <li class="menu__item"><a href="contacto.html" class="menu__link">Contact</a></li>
                <li class="menu__item offer"> <a href="presupuesto.html" class="menu__link">Get an offer</a></li>
            </ul>
        </nav>
    </header>
    <!-- Fin del header -->

    <!-- Inicio main -->
    <main class="about-us-layout">
        <h1 class="about-us__title">Nuestra Historia</h1>
        <div class="about-us__history divisor">
            <picture class="us-img"><img src="../img/hands2.jpg" alt="Foto de manos con harina"></picture>
            <div class="us-desc">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe eveniet molestiae quibusdam sequi,
                    aperiam nesciunt soluta consequatur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
                    eveniet molestiae quibusdam sequi,
                    aperiam nesciunt soluta consequatur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
                    eveniet molestiae quibusdam sequi,
                    aperiam nesciunt soluta consequatur!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
                    eveniet molestiae quibusdam sequi, aperiam nesciunt soluta consequatur! Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Saepe eveniet molestiae quibusdam sequi, aperiam nesciunt soluta
                    consequatur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe eveniet molestiae
                    quibusdam sequi, aperiam nesciunt soluta consequatur!</p>
            </div>
        </div>
        <div class="about-us__bio divisor">
            <img src="../img/earth.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ea quis, ex nesciunt provident, molestiae
                cupiditate corporis, cum assumenda quae laborum cumque rerum? Aspernatur deserunt ullam rerum mollitia
                aliquam animi.</p>
        </div>
        <div class="about-us__alergies divisor">
            <img src="../img/empanada.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ea quis, ex nesciunt provident, molestiae
                cupiditate corporis, cum assumenda quae laborum cumque rerum? Aspernatur deserunt ullam rerum mollitia
                aliquam animi.</p>
        </div>
        <div class="about-us__plug divisor">
            <img src="../img/empanada.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ea quis, ex nesciunt provident, molestiae
                cupiditate corporis, cum assumenda quae laborum cumque rerum? Aspernatur deserunt ullam rerum mollitia
                aliquam animi.</p>
        </div>
        <section class="about-us__presupuesto divisor">
            <div>
                <h3>Presupuesto</h3>
            </div>
            <div>
                <form action="" method="post" class="form">
                    <input type="text" name="Nombre" placeholder="Ingresa tu nombre" /><br />
                    <input type="email" name="email" placeholder="Ingresa tu email" id="" /><br />
                    <input type="number" name="telefono" placeholder="Ingresa tu número de teléfono" id="" /><br />
                    <input type="number" name="personas" placeholder="Ingresa la cantidad de personas" id="" /><br />

                    <textarea name="informacion"
                        placeholder="Ingresa  la fecha, el lugar del evento y otra información que creas que deberiamos saber."
                        id="" cols="30" rows="10"></textarea><br />

                    <button type="submit">Enviar</button>
                    <button type="reset">Limpiar</button>
                </form>
            </div>
        </section>
    </main>
    <!-- Fin main -->
    <!-- Inicio Footer -->
    <footer class="footer flex-column">
        <div>
            <p>Follow us!</p>
        </div>
        <div>
            <a href="https://www.facebook.com"><img src="../img/facebook-ico.ico" alt="Logo de facebook"></a>
            <a href="https://www.instagram.com"><img src="../img/instagram-ico.ico" alt="Logo de instagram"></a>
            <a href="https://www.whatsapp.com"><img src="../img/whatsapp-ico.ico" alt="Logo de whatsapp"></a>
        </div>
        <div class="footer__rights">
            <p> Todos los derechos reservados 2022. </p>
        </div>
    </footer>
    <!-- Fin footer -->
    </div>
</body>

</html>