<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Here you can read a brief description of our origin and our mission">
    <meta name="keywords"
        content="OUR STORY, TRADITIONAL ARGENTINEAN FOOD, RENT A FOOD TRUCK, FOODTRUCK, CATERINGS, EMPANADAS, HOLIDAY ARGENINEAN FOOD">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://kit.fontawesome.com/717aaaebb4.js" crossorigin="anonymous"></script>
    <title>About Us | Fill Me Up! Empanadas -Know our history</title>
</head>

<body>
    <!-- Inicio del header -->
    <header class="header">
        <nav class="navbar container-lg">
            <div class="logo">
                <a href="../../index.html"><img src="../img/logo2.svg" alt="Logo empresa" /></a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn"> <i class="fa-solid fa-bars"></i></label>
            <ul class="menu">
                <li class="menu__item"> <a href="../../index.html" class="menu__link">Home</a></li>
                <li class="menu__item"> <a href="menu.html" class="menu__link">Menu</a></li>
                <li class="menu__item"><a href="sobreNosotros.html" class="menu__link">About us</a></li>
                <li class="menu__item"><a href="faq.html" class="menu__link">FAQ</a></li>
                <li class="menu__item offer"> <a href="presupuesto.html" class="menu__link">Get an offer</a></li>
            </ul>
        </nav>
    </header>
    <!-- Fin del header -->

    <!-- Inicio main -->
    <main>
        <div class="container-lg">
            <h1 class="about-us__title">OUR STORY</h1>
            <div class="about-us__history">
                <picture class="us-img"><img src="../img/hands_edited.jpg"
                        alt="photo of a person working on a dough bun"></picture>
                <div class="us-desc">
                    <p>We are Norberto and Magdalena and our mission to bring the taste of delicious Argentinean
                        empanadas is already on wheels, literally. My grandmother's recipes and our beautiful
                        food truck give shape to this dream come true. Since 2019 we have been serving at events,
                        birthdays and weddings, bringing the exquisite combination of flavors of Argentine cuisine to
                        the mouths of the people who have trusted us.
                    </p>
                    <p>Empanadas are a traditional dish in Argentina, we usually eat them on national holidays and they
                        have become a symbol of family and friends gatherings. In Fill Me Up! Empanadas we make
                        everything from scratch, the dough and the filling are homemade, paying special attention to the
                        quality of the products we choose.</p>
                </div>
            </div>

            <div class="about-us__alergies">
                <h2>ALLERGENS & DIETS</h2>
                <p>
                    Our menu is composed in a way that everyone can eat with. Three options in our menu are vegetarian
                    and
                    can be served vegan . All empanadas can be served lactose free and we have the option of gluten free
                    empanadas. This means that when you are visited by the FILL ME UP! EMPANADAS FOOD TRUCK for your
                    party,
                    you are sure that all your guests will be full and can eat with our delicious empanadas menu.</p>
                <img src="../img/alergens.jpg" alt="photo of open non cooked empanadas on a table">
            </div>
            <div class="about-us__plug">
                <h2>WE ARE HERE</h2>
                <p>We are available 7 days a week, sunny Sunday or rainy Wednesday we will be there for you, bringing
                    you the best empanadas. If it looks like it is going to rain during service, then we make
                    sure to place our food
                    truck as close to an indoor area as possible. The food truck serving window is covered so that 3-4
                    people can stand in dry weather and have their empanadas served at a time.</p>
                <img src="../img/empanada.jpg" alt="photo of a raw empanada in the palm of a hand">
            </div>

            <div class="about-us__bio">
                <h2>SUSTAINABILITY IN OUR FOOD TRUCKS</h2>
                <p>
                    Since we started serving delicious food from our food truck, we have focused on reducing our CO2
                    footprint. In all our business choices, interior design of food trucks and choice of raw materials,
                    we
                    therefore take into account how sustainable this is in relation to the alternative. That is why the
                    FILL
                    ME UP! EMPANADAS FOOD TRUCK runs exclusively on electricity , so we avoid being dependent on gas or
                    diesel generators. In addition, we only use recyclable metal plates , which we take with us and wash
                    when we drive from an event - this way we make sure that our food truck does not waste unnecessary
                    resources and creates as little rubbish as possible. Two of our empanadas are vegetarian and we are
                    constantly working on how we can use as few animal products as possible to reduce our CO2 footprint.
                </p>
                <img src="../img/earth2.jpg" alt="picture of a poster saying planet earth first">
            </div>
        </div>
        <section class="presupuesto" id="quote">
            <div>
                <h3>RENT A FOOD TRUCK</h3>
                <div class="line"></div>
                <p>Fill out the form and get a quote sent within 10 minutes.</p>
            </div>
            <div class="formdiv">
                <form class="form">
                    <input type="text" name="Name" placeholder="Enter your name" required />
                    <input type="email" name="Email" placeholder="Your Email" required />
                    <input type="number" name="Telephone" placeholder="Telephone number" />
                    <input type="number" name="People" placeholder="How many people" required />
                    <input type="text" name="Address" placeholder="Event address" required />
                    <input type="date" id="start" name="trip-start" min="2022-01-01" max="2030-12-31" required />

                    <textarea name="information" placeholder="Anything else that we should know?"></textarea>

                    <input type="submit" class="btn_send" value="Send" />
                </form>
            </div>
        </section>
    </main>
    <!-- Fin main -->
    <!-- Inicio Footer -->
    <footer class="footer">
        <div>
            <h4>Follow us!</h4>
        </div>
        <div>
            <a href="https://www.facebook.com"><img src="../img/facebook-ico.ico" alt="Logo de facebook"></a>
            <a href="https://www.instagram.com"><img src="../img/instagram-ico.ico" alt="Logo de instagram"></a>
            <a href="https://www.whatsapp.com"><img src="../img/whatsapp-ico.ico" alt="Logo de whatsapp"></a>
            <a href="#top" class="top"><img src="../img/tothetop2.svg" alt="Empanada logo" /></a>
        </div>
        <div class="footer__rights">
            <p> Todos los derechos reservados 2022. </p>
        </div>
    </footer>
    <!-- Fin footer -->
    </div>
</body>

</html>