.about-us__title {
  color: $color-text;
  text-align: center;
  font-size: $titles-lg;
}
.about-us__history,
.about-us__bio,
.about-us__alergies,
.about-us__plug,
.about-us__presupuesto {
  @include flex($direction: column);
}
