.faqs {
  @include flex($direction: column);
}
.secacord {
  text-align: center;
  padding: 1rem 4rem;
}
details[open] summary ~ * {
  animation: open 0.2s ease-in-out;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 2rem 0;
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  list-style: none;
  outline: 0;
}

details p {
  margin: 0 0 1rem;
  padding-top: 1rem;
  font-style: italic;
  font-size: 1.6rem;
}
