.home {
  background-color: $color-primary;
  background-image: $background-home;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flex($direction: column);
  width: 100%;
  height: 40rem;
  color: $color-3;
  font-size: $text-lt;
  article p {
    color: $color-3;
  }
}
.divisor {
  font-size: $text-lt;
  @include flex($direction: column);
  width: 100%;
  height: 25%;
  margin: 1.6rem 0;
}
.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem auto;
  display: inline;
  width: 120px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $color-secondary;
  background-color: transparent;
  font-size: 1.3rem;
  border-color: transparent;
  transition: border-color 400ms ease, background-color 400ms ease,
    color 400ms ease;
  &:hover {
    color: $color-text;
    background-color: $color-secondary;
    cursor: pointer;
    transition: border-color 400ms ease, background-color 400ms ease,
      color 400ms ease;
  }
}
.second-home,
.fifth-home {
  background-color: $color-3;
  color: $color-secondary;
  font-size: $text-lt;
  @include flex($direction: column);
  .btn_menu {
    @extend .btn;
    text-transform: uppercase;
  }
  h2 {
    font-size: $text-md;
  }
}
.third-home {
  background-color: $color-3;
  margin: 16px 0;
  color: $color-text;
  font-size: $text-lt;
  @include flex($direction: column);
  p {
    padding: 2rem;
  }
}
.fourth-home {
  background-color: rgb(250, 248, 248);
  font-size: $text-lt;
  @include flex($direction: column);
  margin: 16px 0;
}
.reviews {
  &__card {
    background-color: $color-3;
    box-shadow: 1px 1px 5px 0;
    margin: 1rem;
    border-radius: 0.8rem;
  }
  &__name {
    background-color: black;
    color: white;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    text-align: center;
  }
  &__stars {
    color: orange;
    text-align: center;
  }
}
.presupuesto {
  @include flex($direction: column);
  background-color: black;
  margin-bottom: 0;
  padding: 3rem;
  color: #fff;
  p {
    color: #fff;
    margin: 2rem;
    font-size: 2em;
    text-align: center;
  }
  .line {
    height: 2px;
    min-width: 222px;
    margin-top: 47px;
    margin-bottom: 37px;
    background-color: #fff;
  }
  .btn_send {
    @extend .btn;
    background-color: $color-primary;
  }
  h3 {
    font-size: $titles-md;
  }
}
