/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* Variables */
/* 
:root {
  --font-primary: "Poppins", sans-serif;
  --color-primary: #2e282a;
  --color-secondary: #ffad05;
  --color-3: #fff;
  --color-4: #adadad;
  --color-text: #000000;
  --color-button: #3aafb9;
  --titles-lg: 5em;
  --titles-md: 4em;
  --text-md: 1.8em;
  --text-lt: 1em;
  --max-width: 1200px;
  --header-height: 10rem;
  --background-home: url(../img/background-foodtruck2_edited.jpg);
}
 */
/* Reset */
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/*Globals*/
/* html {
  font-size: 62.5%;
  font-family: $font-primary;
  background-color: $color-3;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-size: 1.6em;
  text-decoration: none;
  display: inline-block;
}

p {
  color: $color-text;
}

h1 {
  margin: 0;
  font-size: $text-md;
}

h3 {
  margin: 0;
  font-size: 3em;
}

h4 {
  font-weight: bold;
} */
/* 
.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline;
  width: 120px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $color-secondary;
  background-color: transparent;
  font-size: 1.3rem;
  border: solid;
  border-color: $color-secondary;
  transition: border-color 400ms ease, background-color 400ms ease,
    color 400ms ease;
}

.btn:hover {
  color: $color-text;
  background-color: $color-secondary;
  cursor: pointer;
  transition: border-color 400ms ease, background-color 400ms ease,
    color 400ms ease;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
} */

/* body {
  margin: 0;
  overflow-x: 0;
  background-color: $color-3;
}
form {
  font-family: $font-primary;
} */
/* 
.divisor {
  font-size: $text-lt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 25%;
  margin: 1.6rem 0;
}

.divisor p {
  padding: 1rem;
} */

/*Header Styles*/
/*.header {*/
  /*position: fixed;
  left: 0;
    top: 0;
    z-index: 999;*//*
  padding: 0;
  width: 100%;
  height: $header-height;
  background-color: black;
}*/
/* 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .header .logo {
  flex-basis: $header-height;
} 

.menu__link {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $color-secondary;
  transition: background-color 400ms ease, color 500ms ease;
  border-radius: 3px;
}

.menu__link:hover {
  color: $color-3;
  background-color: $color-secondary;
  transition: background-color 400ms ease, color 500ms ease;
}
 */
/* .home {
  background-color: $color-3;
  background-image: $background-home;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40rem;
  color: $color-3;
  font-size: $text-lt;
}

.home article p {
  color: $color-3;
}



.second-home,
.fifth-home {
  background-color: $color-3;
  color: $color-secondary;
  font-size: $text-lt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second-home,
.fifth-home h2 {
  font-size: $text-md;
}

.third-home {
  background-color: $color-3;
  margin: 16px 0;
  color: $color-text;
  font-size: $text-lt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.third-home p {
  padding: 3rem;
  color: $color-text;
}

.fourth-home {
  font-size: $text-lt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px 0;
  height: 60vh;
}

.presupuesto {
  background-color: $color-3;
  text-align: center;
}

.presupuesto h3 {
  font-size: $titles-md;
}
 */
/* .form {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-3;
  border-radius: 5px;
  padding: 1rem 3rem;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.753);
  padding: 1rem;
} */

/* .form input {
  width: 90%;
  height: 3rem;
  margin: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea {
  width: 90%;
  max-width: 600px;
  height: 120px;
} */

/* .footer {
  background-color: black;
  color: $color-3;
  font-size: $text-lt;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-primary;
}

.footer h4 {
  font-size: 1.5em;
} */

/*about us*/
/* .about-us__title {
  color: $color-text;
  text-align: center;
  font-size: $titles-lg;
} */

/* .footer__rights p {
  color: $color-3;
} */

/*FAQ's*/
/* .fs-1,
.fs-2,
.btn-primary {
  margin: 2rem auto;
}

.faqs {
  font: $font-primary;
  font-size: 1.5em;
} */

/* .accordion-button {
  font-size: 1.5rem;
  background-color: $color-4;
  color: white;
  border: none;
}
.accordion-button:focus{
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: $color-primary;
  background-color: $color-secondary;
}
 */
/* .accordion-body {
  background-color: $color-3;
  border: none;
}

.accordion-item {
  background-color: black;
  border: none;
} */



/* .form-control {
  height: 1.8em;
  font-size: 1.5rem;
}
textarea.form-control {
  min-height: calc(3.5em + 10.75rem + -3px);
}

.input-group-text {
  background-color: $color-4;
  color: $color-3;
}
 */

/*Menu*/
/*background-image: linear-gradient(180deg, #e4e4e4 80%, #fff 0); para aplicar despues a los items*/
/* .main-menu__titulo {
  margin: 2.5rem auto;
}

.card {
  background-color: $color-4;
}

.card-body {
  color: $color-3;
  font-size: 1.5rem;
  font-family: $font-primary;
} */

/* @keyframes rodante {
  0% {
    opacity: 0;
    transform: translatex(-200px);
  }

  100% {
    opacity: 1;
    transform: translatex(0px) rotate(359deg);
  }
} */

/* .logo {
  animation: rodante 700ms ease-in-out;
} */

/* @media screen and (min-width: 480px) {
  /* Variables */
/* 
  :root {
    --titles-md: 5em;
    --text-lt: 1.4em;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .us-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
} */

/* @media screen and (min-width: 1024px) { */
  /* Variables */

  /* :root {
    --titles-md: 6em;
    --text-lt: 1.8em;
  }

  .home {
    height: 60rem;
  }

  .home h1 {
    font-size: $titles-lg;
  }

  .second-home,
  .fifth-home {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-content: center;
  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }

  .us-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .about-us__history {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-evenly;
    align-content: center;
  }

  .about-us__history p {
    text-align: left;
  }
} */