/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
/* Variables */
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: #fff; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  font-size: 1.6em;
  text-decoration: none;
  display: inline-block; }

p {
  color: #000000; }

h1 {
  margin: 0;
  font-size: 1.8em; }

h3 {
  margin: 0;
  font-size: 3em; }

h4 {
  font-weight: bold; }

body {
  margin: 0;
  overflow-x: 0;
  background-color: #fff; }

form {
  font-family: "Poppins", sans-serif; }

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline;
  width: 120px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffad05;
  background-color: transparent;
  font-size: 1.3rem;
  border: solid;
  border-color: #ffad05;
  transition: border-color 400ms ease, background-color 400ms ease, color 400ms ease; }
  .btn:hover {
    color: #000000;
    background-color: #ffad05;
    cursor: pointer;
    transition: border-color 400ms ease, background-color 400ms ease, color 400ms ease; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.divisor {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 25%;
  margin: 1.6rem 0; }
  .divisor p {
    padding: 1rem; }

@keyframes rodante {
  0% {
    opacity: 0;
    transform: translatex(-200px); }
  100% {
    opacity: 1;
    transform: translatex(0px) rotate(359deg); } }

/*PARTIALS*/
/*Header Styles*/
.header {
  padding: 0;
  width: 100%;
  height: 10rem;
  background-color: black; }
  .header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .logo {
    flex-basis: 10rem;
    animation: rodante 700ms ease-in-out; }

.menu__link {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffad05;
  transition: background-color 400ms ease, color 500ms ease;
  border-radius: 3px; }
  .menu__link:hover {
    color: #fff;
    background-color: #ffad05;
    transition: background-color 400ms ease, color 500ms ease; }

.footer {
  background-color: black;
  color: #fff;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif; }
  .footer h4 {
    font-size: 1.5em;
    font-weight: bold; }
  .footer p {
    color: #fff; }

.form {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 3rem;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.753);
  padding: 1rem; }
  .form input {
    width: 90%;
    height: 3rem;
    margin: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none; }
  .form textarea {
    width: 90%;
    max-width: 600px;
    height: 120px; }

/*VIEWS*/
.home {
  background-color: #fff;
  background-image: url(../img/background-foodtruck2_edited.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40rem;
  color: #fff;
  font-size: 1em; }
  .home article p {
    color: #fff; }

.second-home,
.fifth-home {
  background-color: #fff;
  color: #ffad05;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .second-home h2,
  .fifth-home h2 {
    font-size: 1.8em; }

.third-home {
  background-color: #fff;
  margin: 16px 0;
  color: #000000;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .third-home p {
    padding: 3rem; }

.fourth-home {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px 0;
  height: 60vh; }

.presupuesto {
  background-color: #fff;
  text-align: center; }
  .presupuesto h3 {
    font-size: 4em; }

/*Menu*/
/*background-image: linear-gradient(180deg, #e4e4e4 80%, #fff 0); para aplicar despues a los items*/
.main-menu__titulo {
  margin: 2.5rem auto; }

.main-menu .card {
  background-color: #adadad; }

.card-text {
  font-size: 1.5rem; }

.card-body {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif; }

.about-us__title {
  color: #000000;
  text-align: center;
  font-size: 5em; }

.fs-1,
.fs-2,
.btn-primary {
  margin: 2rem auto; }

.faqs {
  font: "Poppins", sans-serif;
  font-size: 1.5em; }

.accordion-button {
  font-size: 1.5rem;
  background-color: #adadad;
  color: white;
  border: none; }
  .accordion-button:focus {
    box-shadow: none; }
  .accordion-button:not(.collapsed) {
    color: #2e282a;
    background-color: #ffad05; }

.accordion-body {
  background-color: #fff;
  border: none; }

.accordion-item {
  background-color: black;
  border: none; }

.form-control {
  height: 1.8em;
  font-size: 1.5rem; }

textarea.form-control {
  min-height: calc(3.5em + 10.75rem + -3px); }

.input-group-text {
  background-color: #adadad;
  color: #fff; }

/*Media Queries*/
@media screen and (min-width: 480px) {
  p {
    font-size: 1.4em; }
  h1 {
    font-size: 5em; }
  h2 {
    font-size: 3.5em; }
  h3 {
    font-size: 3em; }
  .footer h4 {
    font-size: 1.8em; }
  .menu__link {
    font-size: 1.5rem; }
  .us-img img {
    width: 100%;
    max-width: 400px;
    height: auto; } }

@media screen and (min-width: 720px) {
  p {
    font-size: 1.6em; }
  h1 {
    font-size: 5.5em; }
  h2 {
    font-size: 3.8em; }
  h3 {
    font-size: 3.3em; }
  .footer h4 {
    font-size: 1.9em; }
  .home {
    height: 60rem; } }

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.8em; }
  h1 {
    font-size: 6em; }
  h2 {
    font-size: 4em; }
  h3 {
    font-size: 3.5em; }
  .footer h4 {
    font-size: 2em; }
  .home {
    height: 60rem; }
  .second-home,
  .fifth-home {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-content: center; }
  .second-home h2,
  .fifth-home h2 {
    font-size: 3.5em; }
  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center; }
  .us-img img {
    width: 100%;
    max-width: 400px;
    height: auto; }
  .about-us__history {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-evenly;
    align-content: center; }
    .about-us__history p {
      text-align: left; } }
