
.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline;
    width: 120px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: $color-secondary;
    background-color: transparent;
    font-size: 1.3rem;
    border: solid;
    border-color: $color-secondary;
    transition: border-color 400ms ease, background-color 400ms ease,
      color 400ms ease;
      &:hover {
        color: $color-text;
        background-color: $color-secondary;
        cursor: pointer;
        transition: border-color 400ms ease, background-color 400ms ease,
          color 400ms ease;
      }
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
  .flex-row {
    display: flex;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .divisor {
    font-size: $text-lt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25%;
    margin: 1.6rem 0;
    p {
        padding: 1rem;
      }
  }
