.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem auto;
  display: inline;
  width: 120px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $color-secondary;
  background-color: transparent;
  font-size: 1.3rem;
  border-color: transparent;
  transition: border-color 400ms ease, background-color 400ms ease,
    color 400ms ease;
  &:hover {
    color: $color-text;
    background-color: $color-secondary;
    cursor: pointer;
    transition: border-color 400ms ease, background-color 400ms ease,
      color 400ms ease;
  }
}
.container-lg {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}
.container-md {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

@mixin flex(
  $display: flex,
  $direction: row,
  $justify: center,
  $align: center,
  $text-a: center
) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  text-align: $text-a;
}
