/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GLOBALS*/
html {
    font-size: 62.5%;
   font-family: $font-primary;
    background-color: $color-3;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    font-size: 1.6em;
    text-decoration: none;
    display: inline-block;
  }
  
  p {
    color: $color-text;
  }
  
  h1 {
    margin: 0;
    font-size: $text-md;
  }
  
  h3 {
    margin: 0;
    font-size: 3em;
  }
  
  h4 {
    font-weight: bold;
  }
  body {
    margin: 0;
    overflow-x: 0;
    background-color: $color-3;
  }
  form {
    font-family: $font-primary;
  }