/* Variables */
    $font-primary: "Poppins", sans-serif;
    $color-primary: #2e282a;
    $color-secondary: #ffad05;
    $color-3: #fff;
    $color-4: #adadad;
    $color-text: #000000;
    $color-button: #3aafb9;
    $titles-lg: 5em;
    $titles-md: 4em;
    $text-md: 1.8em;
    $text-lt: 1em;
    $max-width: 1200px;
    $header-height: 10rem;
    $background-home: url(../img/background-foodtruck2_edited.jpg);
    $p-sizes:(
        sc-lt:1em,
        sc-md:1.4em,
        sc-lg:1.6em,
        sc-xl:1.8em);

