/*Header Styles*/
.header {
    padding: 0;
    width: 100%;
    height: $header-height;
    background-color: black;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo {
        flex-basis: $header-height;
        animation: rodante 700ms ease-in-out;
      }
  }
  .menu__link {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: $color-secondary;
    transition: background-color 400ms ease, color 500ms ease;
    border-radius: 3px;
    &:hover {
        color: $color-3;
        background-color: $color-secondary;
        transition: background-color 400ms ease, color 500ms ease;
      }
  }
  
  
  